<h1>Le code sql</h1>

<h2>le sch&eacute;ma</h2>
<textarea cols="" rows="10"  id="schema" name="schema" readonly><%= @schema_sql %></textarea>

<h2>les donn&eacute;es</h2>
<textarea cols="" rows="10"  id="data" name="data" readonly><%= @data_sql %></textarea>